html{
    min-width: 1000px;
    width: 100%;
    text-align: center;
    background: #555 url("img/background.png");
    border:0;
}
body {
    align-content: center;
    margin: 0 auto;
    width: 979px;
    background: #f4f4f4 url("img/body-bg.png") repeat-y right;
    color: #222;
    padding-left: 11px;
    font-family: Arial, sans-serif;
    display: block;
}
main {
    float: left;
    min-height: 70px;

}
footer {
    min-height: 80px;
    width: 740px;
    margin-top: 15px;
    display: block;
    font-size: 13px;
    clear: both;
}
header {
    height: 38px;
    width: 1010px;
    margin-left: -20px;
    background-color: #383838;
    background-image: linear-gradient(180deg, #383838 0%, #232323 100%);
    border: 0;
    border-image-width: 1px;
    border-radius: 7px;
    text-align: left;
    padding: 0;
    display: block;

}
.logo {
    padding-left: 13px;
    padding-right: 5px;
    text-decoration: none;
    display: inline-block;
    float: none;

}
.logo img {
    padding-top: 3px;
    vertical-align: middle;
}
.search-form {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding-right: 5px;
    width: 264px;

}
.search-form input {
    border: none;
    background: #EEE;
    color: #555;
    font: 13px Arial, sans-serif;
    outline: none;
    border-radius: 7px;
    float: left;
    width: 250px;
    padding: 5px 7px;
    text-align: start;
    height: 15px;

}
.search-form button {
    position:   absolute;
    top: 3px;
    right: 5px;
    background: transparent;
    border:0;
    outline:0;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}
[name="search-input"] {
    width: 250px;
}
.top-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
    list-style: none;
    font-size: 15px;
    height: 38px;
    border:0;
    padding:0;
    padding-right: 10px;
    margin:0;
}
header ul li {
    display: inline-block;
    font-size: 15px;

}
header ul li a{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    text-decoration: none;
    padding: 0 5px;
    line-height: 40px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bbb;
}
.vk {
    vertical-align: -3px;
    padding-right: 1px;
}
header ul li a.last {
    padding-right: 0;
}
#greeting{
    float: left;
    width: 728px;
    display: block;
    text-align: justify;
    font-size: 15px;
    margin:0;
    border:0;
    padding:0;
    padding-top:10px;
}
#greeting h2 {
    text-align: center;
    font-size: 18.75px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 0;
    margin: 0 0 0.5em 0;
}
#greeting p {
    margin: inherit;
    margin-bottom: 7px;
}
#greeting address {
    font-size: 0.9em;
}
#popular-manga {
    float: right;
    width: 240px;
    
}
#popular-manga h2 {
    text-align: left;
    padding:6px 0 6px 15px;
    margin:0;
    color: #bbb;
    border-bottom:1px solid #262626;
    border-top:1px solid #464646;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    text-transform: uppercase;
}
#popular-manga ul {
    padding:0;
    margin:0;
    list-style: none;
}
#popular-manga ul li {
    display: list-item;
    text-decoration: none;
    border-bottom:1px solid #262626;
    border-top:1px solid #464646;
    text-align: left;
    position: relative;
}
#popular-manga ul li a {
    padding: 5px 14px;
    display: block;
    text-decoration: none;
    color: #aaa;
    background-color: #333;
    font-size: 14px;
    border: 0;
}
#popular-manga ul li a:hover {
    background-color: #262626;
    margin: 0;
    border-left: 5px solid #70b700;
    padding-left: 9px;
}
#pre-footer {
    display: block;
    width: 729px;
    text-align: justify;
    font-size: 15px;
    margin:0;
    clear: both;
}
#pre-footer h2 {
    text-align: center;
    font-size: 20px;
}
#pre-footer p {
    margin: inherit;
    margin-bottom: 7px;
}



/* Блок комментов ниже был предназначен для вырезки абзаца, но ошибка была не в самом абзаце:
Лого м24 вытесняло параметром float:left под собой текст. Оставил нижние селекторы как напоминание типов выборки

html p:first-of-type {
    /*text-indent: -60px;
}

#footer-first-p  {
    /*text-indent: -60px;
}*/